<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS</title>
</head>
<body>
    <h1>Welcome to Library Management System</h1>

    <a href="/shop"> Shopping </a>

    <form method="post" action="/save">
        {% csrf_token %}
        <label >Student Name</label>
        <input type="text" name="student_name">
        <button type="submit">Save</button>
    </form>
</body>
</html>